{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    About the Playlist App
  </h2>
  <p>
    More information about the app
  </p>
</section>